body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: beige;

}
.slider{
    width: 800px;
    height: 100px;
    justify-self: center;
    align-items: center;
    border-radius:10px ;
    overflow: hidden;
}
.sildes{
    width: 500%;
    height: 500px;
    display: flex;

}
.slides input {
display: none;

}
.silde {
    width: 20%;
    transition: 2s;


}
.silde img{
    width: 800px;
    height: 500px;
}

.navigation-manual {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content: center;

}

.manual-btn{
    border: 2px solid black;
   padding: 5px;
   border-radius: 10px;
   cursor: pointer;
   transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 30px;

}
.manual-btn:hover{
    background: black;
}
#radio1:checked ~ .frist{
    margin-left: 0;
}
#radio2:checked ~ .frist{
    margin-left: -20%;
}
#radio3:checked ~ .frist{
    margin-left: -40%;
}
#radio4:checked ~ .frist{
    margin-left: -60%;
}
.navigation-auto{
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    transition:1s ;

}
.navigation-auto div:not(:last-child){
    margin-right: 30px;
    justify-content: center;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: #23e3c2;  
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #23e3c2;  
  }

  #radio3:checked ~ .navigation-auto .auto-btn3{
    background-color:  #23e3c2;  
  }
 
  #radio4:checked ~ .navigation-auto .auto-btn4{
    background-color:  #23e3c2;  
  }
  